.cardSkill{
    height: 90px;
    width: 90px;
    min-height: 90px;
    min-width: 90px;
    margin:20px;

    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: rgb(221, 221, 221);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(202, 202, 202);
}

.cardSkill:hover{
    box-shadow: 0px 0px 9px rgb(172, 172, 172);
}

.cardSkill__icon{
    width: 40%;
    padding-top: 10%;
}
.cardSkill__text{
    margin: 0;
    margin-top: 5%;
}