.header__Container{
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    margin-bottom: 350px;
}
.header__Container--photo{
    width: 40%;
    padding-right: 30px;
    padding-top: 30px;
}
.header__Container--text{
width: 60%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.header__Text--content{
    text-align: left;
}
.header__ButtonsContainer--main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;
}
.container__buttons--leftcontainer{
    margin-right: 40%;
}
.header__Button--resumé {
   padding-left: 50px;
   padding-right: 50px;
}
.header__Button--icon{
   margin-left: 20px;
}