.header__Container{
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    margin-bottom: 350px;
    
}
.header__Container--photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.header__IMG{
    height: 350px;
    width: 350px;
}
.header__Container--text{
width: 50%;
margin-left: 10%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
justify-content: center;
}
.header__Text--title{
    text-align: left;
}

.header__Text--content{
    text-align: left;
}
.header__ButtonsContainer--main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;
}

.header__Button--resumé {
   padding-left: 50px;
   padding-right: 50px;
   border: none;
   transition: box-shadow 0.3s ease-in-out;
}

.header__Button--resumé:hover {
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.521);
   outline: none;
 }
 

.header__Button--icon{
   margin-left: 20px;
   border: none;
   transition: box-shadow 0.3s ease-in-out;
}
.header__Button--icon:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.521);
    outline: none;
}
@media (max-width: 1100px) {
    .header__Container{
        background-color: aqua;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .header__Container--photo{
        width: 100%;
    }
    .header__Container--text{
        width: 100%;
        margin: 0%;
        align-items: center;
        justify-content: center;
    }
    .header__Text--heading{
     width: 100%;
    }
    .header__Text--title{
        width: 100%;
        text-align: center;
    }
    .header__Text--content{
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .header__Container{
        background-color: red;
    }
    .header__IMG{
        height: 250px;
        width: 250px;
    }
}
@media (max-width: 553px) {
    .header__Button--icon{ 
        margin: 5px
    }
    .header__Button--resumé{
        margin: 5px;
    }
}