.navBar{
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 64, 83) ;
    position: fixed;
    height: 100vh;
    width: 120px;
}
.navBar:hover{
    width: 180px;
}

.navBar__Logo{
    color: white;
    width: 100%;
    height: 120px;
    background-color: rgb(23, 40, 59);
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 0px;
}

.navBar__Container--Buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 160%;
}

.navBar__Button{
    background-color: transparent;
    margin: 0px;
    padding: 0%;
}
.navBar__icon{
    width: 30px;
}
