.contact__main{
    margin-top: 100px;
    margin-bottom: 100px;
}
.contact__body{
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
}