.aboutMe__Main {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 50px;
    font-size: x-large;
    font-weight: 500;
}

@media(max-width: 363px) {
    .aboutMe__Main{
        font-size: large;
    }
}