.Main{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
}
.invisible__goto{
    /*Want to see the invisible divs? background-color: aqua;*/
    background-color: aqua;
    position: absolute;
    color: transparent;
}
#goto__aboutme{
margin-top: 720px;
}
#goto__skills{
margin-top: 1150px ;
}
#goto__projects{
margin-top: 1690px;
}