.projects__main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.projects__container{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    padding-top: 5px;
    margin-top: 35px;
}

